/* main.css */
/* 회원 정보 */
#info img {
    border: 1px solid #AAA;
    width: 150px; height: 180px;
    padding: 3px;
    object-fit: contain;
}

#info tr:nth-child(1) td:nth-child(1) {
    width: 170px;
    vertical-align: middle;
}

#info tr:nth-child(2) th {
    width: 90px;
}

#info tr:nth-child(2) td {
    width: 225px;
}
#info tr:nth-child(3) td {
    white-space: pre-wrap;
}

/* 게시판 목록 */
#list th:nth-child(1) { width: 50px; }
#list th:nth-child(2) { width: auto; }
#list th:nth-child(3) { width: 70px; }
#list th:nth-child(4) { width: 120px; }
#list th:nth-child(5) { width: 50px; }

#list td:nth-child(2) {
	text-align: left; 
	word-break: break-all; /* 강제 줄바꿈 옵션 */
}

#list {
	margin: 0;
	margin-bottom: 1rem;
}

#list .isnew {
	font-size: 14px;
	color: tomato;
}

/* 페이징 */
#pagebar {
	text-align: center;
	margin: 1rem;
}


/* 게시판 보기 */
#view {
	margin: 0;
	margin-bottom: 1rem;
}

#view tr:nth-child(5) td, /* 제목, 내용에 대한 CSS */
#view tr:nth-child(6) td {
	word-break: break-all; /* 강제 줄바꿈 옵션 */
	
}

#view tr:nth-child(6) td {
	white-space: pre-wrap;
	padding: 1rem 1rem;
	height: 200px;
}

/* 검색폼 */
#searchForm {
	text-align: center;
	margin-bottom: 15px;
}

#labelsearch {
	margin: 0.5rem;
}

/* 댓글 */
#comment td:nth-child(1) { width: auto; }
#comment td:nth-child(2) { width: 150px; text-align: center; }
#comment .commentContent div:last-child { font-size: 12px; text-align: right; }

#addComment td:nth-child(1) { width: auto; }
#addComment td:nth-child(2) { width: 150px; text-align: center; }

.commentInfo span, .commentEdit span { 
	cursor: pointer;
}

.commentInfo span:hover, .commentEdit span:hover { 
	color: cornflowerblue; 
}

.commentEditRow {
	background: rgba(0, 0, 0, .05);
}

.commentCount {
	font-size: 12px;
}

.commentCount > span {
	font-size: 14px;
}

/* 첨부파일 */

#imgPlace {
	max-width: 570px;
	margin: 1rem 0px;
}

#map {
	width: 570px;
	height: 300px;
}

.tagify.full {
	border-color: #BBB;
	border-radius: 3px;
	width: calc(100% - 4px);
}